[user]
	name = Paul Hendry
	email = paul@ijj.li
[core]
	editor = nvim
[init]
	defaultBranch = main
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[push]
	default = current
