[submodule "dotfiles/.vim/bundle/ack.vim"]
	path = dotfiles/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "dotfiles/.vim/bundle/vim-colors-solarized"]
	path = dotfiles/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "dotfiles/.vim/bundle/vim-nix"]
	path = dotfiles/.vim/bundle/vim-nix
	url = https://github.com/LnL7/vim-nix
[submodule "dotfiles/.vim/bundle/syntastic"]
	path = dotfiles/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
